<h1>Create New Shelter</h1>
<form class="shelter_details" action="/shelters/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="name">Name: </label>
  <input type="text" name="shelter[name]">
  <label for="address">Adress: </label>
  <input type="text" name="shelter[address]">
  <label for="city">City: </label>
  <input type="text" name="shelter[city]">
  <label for="state">State: </label>
  <input type="text" name="shelter[state]">
  <label for="zip">ZipCode: </label>
  <input type="text" name="shelter[zip]">
  <input type="submit" value="Submit">

</form>
